---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---
<Layout title="Projects">

    <h1 class="text-5xl text-center">Our Projects</h1>

<Card	
href="https://markdown-parser-sigma.vercel.app/"
title="Mark Down Editor"
body="Write better Documentation with our Mark Down Editor"/>

</Layout>


