---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Not Found">
    <main class="flex flex-col justify-center items-center">
<img class="h-96 w-96" src="/logo.svg" alt="">
        <h1 class="text-8xl">404</h1>
        <h1 class="text-5xl">Not Found</h1>
        <a class="text-blue-500 text-2xl" href="/">Back to Home Page</a>
        
  
    </main>
    </Layout>
    