---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="PI-Parallel Intersect">
	<main class="text-center">
	

			<h1 class="text-5xl m-8">Welcome to Parallel Intersect</h1>
			<p class="text-2xl">
			This website is still under construction. Check out <code ><a href="/about">about</a></code> To know more about <br />
			<strong>Parallel Intersect</strong> and idea behind it.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/docs"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="/project/markitdown"
				title="Mark It Down"
				body="Just a mark down editor to write your documentation."
			/>
			<Card
				href="https:backr00m.vercel.app"
				title="Backroom"
				body="A Web3 based backrooms game."
				/>
				<Card
				href="https://discord.gg/QvPTddkA6H"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
				/>
			</ul>

			<div class="h-1/2 w-1/2 bg-cover absolute right-1/4 opacity-50 top-0 -z-50">
				<img
				aria-hidden="true"
			src="logo.svg"
			/>
		</div>
	</main>
</Layout>

