---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<section class="border border-black m-8 p-8 rounded-lg text-center">
	<a href={href}>
		<h2 class="text-2xl">
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</section>
