<footer class="relative bottom-0 p-10 bg-gray-700 w-full">

    <div class="h-2 w-10">
        <img
        aria-hidden="true"
    src="/logo.svg"
    />
</div>

<div class="flex flex-row justify-end">
    
    <div class="w-10">
        <a href="https://www.facebook.com/parallelintersectpi">
            <img src="https://www.svgrepo.com/show/521654/facebook.svg" alt="">
        </a>
    </div>
    <div class="w-10">
        <a href="https://www.instagram.com/parallelintersectpi/">
            <img src="https://www.svgrepo.com/show/521711/instagram.svg" alt="">
        </a>
    </div>
    <div class="w-10">
        <a href="https://www.instagram.com/parallelintersectpi/">
            <img src="https://www.svgrepo.com/show/521725/linkedin.svg" alt="">
        </a>
    </div>
    <div class="w-10">
        <a href="https://twitter.com/PIcompanyX">
            <img src="https://www.svgrepo.com/show/521900/twitter.svg" alt="">
        </a>
    </div>
    <div class="w-10">
        <a href="https://www.youtube.com/@ParallelIntersectPI">
            <img src="https://www.svgrepo.com/show/521936/youtube.svg" alt="">
        </a>
    </div>
    <div class="w-10">
        <a href="https://github.com/ParallelIntersect/">
            <img src="https://www.svgrepo.com/show/521688/github.svg" alt="">
        </a>
    </div >
    <div class="w-10">
        <a href="mailto:parallelintersectpi@gmail.com">
            <img src="https://www.svgrepo.com/show/521736/mail.svg" alt="">
        </a>
    </div>
    
</div>
    
</footer>