---
import type {CollectionEntry} from 'astro:content'
import Post from './Post.astro'
type Props={
    blog: CollectionEntry<"posts">[];
};
const {blog}= Astro.props;
---


<div className="text-gray-900 flex flex-wrap mb-auto items-center justify-center m-2">

    {blog.map((post)=> <Post blog={post} />)}
</div>




